---
import BlogPost from "../../components/BlogPost.astro";
import TagsList from "../../components/TagsList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await Astro.glob("../posts/*md");

const tags = [...new Set(posts.map((post) => post.frontmatter.tags).flat())];

const pageTitle = "Tag's page";
---

<BaseLayout pageTitle={pageTitle}>
    <p>The page which index each tag.</p>
    <TagsList tags={tags} />
</BaseLayout>
